!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.git
*.mvn
*.cmd

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/src/test/
/src/test/java/com/ft/shipper/

### auto deploy gitignore ###
.sql.json.version/
single-java-api/target/
single-java-common/target/
single-java-mapper/target/
single-java-pojo/target/
single-java-service/target/
sql.json.pdman.json
